# GCP Python Client Reusable Functions

> Reusable functions using GCP Python client libraries (independent of Google).

## Install

```sh
pip install gcp_python_client_functions
```

## How to use

Example of `bigquery` methods:

In [ ]:
from gcp_python_client_functions.bigquery import *

PROJECT = 'dz-learning-d'
QUERY = """
        SELECT name FROM `bigquery-public-data.usa_names.usa_1910_2013`
        WHERE state = "TX"
        LIMIT 100
        """
df = query_to_df(PROJECT, QUERY)
df

          name
0         Mary
1      Roberta
2   Marguerite
3        Katie
4       Eunice
..         ...
95        Rita
96       Elida
97      Billie
98         Ida
99   Elizabeth

[100 rows x 1 columns]